.explore {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  &__search {
    margin-bottom: 1rem;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    &--shrinked {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;
    }
  }
  &__collections {
    align-items: center;
    margin-bottom: 0.5rem;
    &__child {
      background-color: white;
      color: $blue;
      margin-right: 0.5rem;
      &--selected {
        background-color: $blue;
        color: white;
      }
    }
  }
  &__lists {
    &--shrinked {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      z-index: 3000;
    }
    &__child {
      margin-bottom: 1rem;
      &--shrinked {
        margin-bottom: 0;
        &--last {
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
      &__title {
        border-bottom: 1px solid $medium-grey;
        color: $middle-font-color;
        font-family: font-family;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0.5rem;
        text-align: left;
      }
    }
  }
}
