.search {
  height: 3rem;
  &__button {
    background: transparent;
    border: 0;
    border-radius: $border-radius;
    cursor: pointer;
    height: 100%;
    transition: all 0.4s ease-out;
    @media (min-width: $md) {
      width: 8.33333%;
    }
    &--small {
      @media (min-width: $md) {
        width: 16.66667%;
      }
    }
    &:focus { outline: none; }
    svg {
      fill: $blue;
      height: 2rem;
      width: 2rem;
    }
  }
  &__input {
    background: transparent;
    border: 0;
    border-radius: $border-radius;
    color: $middle-font-color;
    padding-left: 0.5rem;
    &--small {
      width: auto;
      @media (min-width: $md) {
        padding-left: 0;
      }
    }
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $light-font-color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $light-font-color;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $light-font-color;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $light-font-color;
    }
    font-family: $font-family;
    font-weight: 500;
    height: 100%;
    font-size: 14px;
  }
}
