// Color Palette
$light-blue: #1acfff !default;
$medium-blue: #33aece !default;
$dark-grey: #4a4a4a !default;
$light-grey: #fcfcfc !default;
$medium-grey: #dcdddc !default;
$middle-grey: #777777 !default;
$pastel-grey: #c5c5c5 !default;
$red: #DD2C00 !default;
