* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: $total-background-image;
  min-height: 100vh;
}

img {
  max-width: 100%;
  // needed for IE
  width: auto;
  height: auto;
}
