.confirmation {
  font-family: $font-family;
  text-align: center;
  &__illustration {
    margin-bottom: 2rem;
    &__icon {
      height: 2rem;
      width: 2rem;
    }
  }
  &__text {
    color: $dark-grey;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__subtext {
    color: $medium-grey;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3rem;
  }
}
