.footer {
  background-color: rgba(39, 52, 68, 0.94);
  color: $very-very-light-grey;
  font-family: $font-family;
  &__contact {
    margin-top: 0.75rem;
    @media (min-width: $sm) {
      margin-right: 10rem;
    }
    @media (min-width: $md) {
      margin-right: 14rem;
    }
    &__email {
      color: #bbe265;
      height: 2rem;
      margin-top: 1rem;
    }
  }
  &__newsletter {
    margin-left: 4rem;
    &__input {
      background-color: transparent;
      border: 0;
      border-bottom: $border;
      color: rgba(255, 255, 255, 0.94);
      font-size: 16px;
      height: 2rem;
      &:focus {
        outline: none;
      }
    }
  }
}
