.header {
  background-color: transparent;
  box-shadow: $box-shadow;
  color: $very-dark-grey;
  font-family: $font-family;
  height: $header-height;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
  z-index: 1000;
  @media (min-width: $lg) {
    padding-top: 1rem;
  }
  &__navigation {
    border-right: 2px solid $dark-grey;
    &--no-border {
      border-right: 0;
    }
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    position: relative;
    @media (max-width: $sm) {
      display: none;
    }
    &__item {
      color: $dark-grey;
      cursor: pointer;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 500;
      padding-left: 0.5rem;
      text-decoration: none;
      &--active {
        cursor: inherit;
        color: $identity-color;
      }
      @media (min-width: $lg) {
        font-size: 22px;
      }
      &:last-of-type {
        margin-right: 0.5rem;
      }
    }
    &__alert {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      height: 1rem;
      width: 1rem;
      &__circle {
        fill: $red;
        cx: 0.5rem;
        cy: 0.5rem;
        r: 0.4rem;
      }
    }
    &--name {
      border-right: 0;
      margin-right: 0;
    }
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__avatar {
    height: 3rem;
    margin-right: 0.5rem;
    width: 3rem;
    @media (min-width: $md) {
      height: 3.5rem;
      margin-right: 1rem;
      width: 3.5rem;
    }
    @media (min-width: $lg) {
      height: 4rem;
      width: 4rem;
    }
    &__img {
      height: 3rem;
      width: 3rem;
      @media (min-width: $md) {
        height: 3.5rem;
        width: 3.5rem;
      }
      @media (min-width: $lg) {
        height: 4rem;
        width: 4rem;
      }
    }
  }
  &__bell {
    margin-right: 0.5rem;
    @media (min-width: $md) {
      margin-right: 0;
    }
  }
  &__hamburger {
    background-color: $identity-color;
    border-color: white;
    border-radius: 100%;
    box-shadow: $box-shadow;
    color: white;
    fill: white;
    height: 3rem;
    margin-right: 0.25rem;
    @media (min-width: $md) {
      margin-right: 1rem;
    }
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    width: 3rem;
    @media (min-width: $md) {
      display: none;
    }
    &:hover,
    &:focus {
      box-shadow: $box-shadow-hover;
    }
    transition: $resize-transition;
  }
}
