.section {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.5rem;
  z-index: 1;
  @media (min-width: $md) {
    padding-top: 3.5rem;
  }
  @media (min-width: $lg) {
    padding-bottom: 5rem;
  }
  &--full-height {
    height: calc(100vh - #{$header-height});
  }
  &__inner {
    @media (min-width: $sm) {
      height: 100%;
    }
    &__between-sections {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(-50%);
      width: 100%; // required for centering to work in IE
      margin-left: auto;
      margin-right: auto;
      .button {
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);
        min-width: 300px;
      }
    }
  }
}
