.switch-button {
  border: 0px;
  border-radius: 20px;
  border-color: #f3f7bf;
  color: #d3dc4e;
  height: 2rem;
  width: 5rem;
  min-width: 5rem;
  position: relative;
  cursor: pointer;
  div {
    border-radius: 20px;
    color: white;
    font-size: 14px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.5s;
    width: 75%;
  }
  &--off {
    background-color: $medium-grey;
    div {
      background-color: $identity-color;
      left: 0;
    }
  }
  &--on {
    background-color: #f3f7bf;
    div {
      background-color: #d3dc4e;
      left: 25%;
    }
  }
}
