.title {
  border-bottom: 2px solid $very-light-grey;
  color: $dark-grey;
  font-size: 12px;
  height: 2.5rem;
  text-align: left;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 90%;
  @media (min-width: $sm) {
    font-size: 14px;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
  }
  &__icon {
    fill: $light-grey;
    margin-left: 0;
    margin-right: 0.5rem;
  }
  &__text {
    font-weight: 500;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }
}
