.title {
  color: $middle-font-color;
  font-size: 12px;
  height: 3rem;
  text-align: left;
  overflow-y: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @media (min-width: $md) {
    font-size: 14px;
  }
  &__icon {
    fill: $middle-grey;
    margin-left: 0;
    margin-right: 0.5rem;
  }
  &__text {
    font-weight: 500;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }
}
